<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Game Options
			</mat-panel-title>
			<mat-panel-description>
				{{ gameModes.currentMode.descSize }}
			</mat-panel-description>
		</mat-expansion-panel-header>

		<mat-form-field>
			<mat-select [(value)]="gameModes.current">
				<mat-option [value]="-1">{{ gameModes.customMode.desc }}</mat-option>
				<mat-option *ngFor="let mode of gameModes.list; let itrr = index" [value]="itrr">{{ mode.desc }}</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-divider></mat-divider>

		<div style="padding-top: 10px;">
			<mat-form-field>
				<input matInput type="number" placeholder="Width" [(ngModel)]="gameModes.customMode.width" [disabled]="!gameModes.isCustomMode">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="number" placeholder="Height" [(ngModel)]="gameModes.customMode.height" [disabled]="!gameModes.isCustomMode">
			</mat-form-field>
			<mat-form-field>
				<input matInput type="number" placeholder="Mines" [(ngModel)]="gameModes.customMode.mines" [disabled]="!gameModes.isCustomMode">
			</mat-form-field>
		</div>
	</mat-expansion-panel>
</mat-accordion>